# Ignore ffmpeg
assets/ffmpeg.exe

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.spec

# Virtual Environment
venv/
env/

# IDE
.vscode/
.idea/

# Temp files
*.tmp

config.ini